Source: cityinfo
Section: utils
Priority: optional
Maintainer: Mikhail Paulyshka <me@mixaill.tk>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Homepage: http://esmasoft.com/


Package: cityinfo
Architecture: any
Depends: bash (>=4.2), cabextract, innoextract, winehq-staging | winehg-devel | wine-development | wine, unzip, wget, zenity, language-pack-ru, ${misc:Depends}
Description: Powerful GIS
 Map of Minsk City
